@import './ui-kit.scss';
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

$primary-font: 'Song Myung';

.create-book-app {
    @include flexible('column');
    min-height: 100vh;
    justify-content: center;

    button.next, button.complete {
        margin-top: 1.5rem;
    }

    .home-page, .terms-page, .complete-page {
        @include flexible('column');
        
        & img.main-logo {
            width: 20vw;
            min-width: 180px;
            margin-bottom: 1rem;
        }

        & > .heading--second {
            font-family: $primary-font;
        }

        & > button {
            margin-top: 2rem;
        }
    }

    .content-page {
        @include flexible('column');
        padding: 0 15vw 0 15vw;

        input {
            text-align: center;
            margin: 2rem 0;
            width: 250px;
            padding-bottom: 0.5rem;
        }

        textarea {
            width: calc(250px - 2rem);
            line-height: 1.4rem;
            border: 1px solid gray;
            height: 22rem;                
            &:focus {
                outline: none;
            }
        }        

        & .button-group {
            margin-top: 1rem;
            width: 250px;
            display: flex;
            justify-content: center;

            & button:first-child {
                margin-right: 2rem;
            }
        }
    }

    .title-page, .author-page {
        @include flexible('column');

        & > input {
            width: 80vw;
            max-width: 400px;
            font-size: 1.2rem;
            padding-bottom: 0.6rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        & .cover-canvas {
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 148px;
            height: 210px;
        }
        
        & .cover--title {
            left: 15px;
            top: 15px;
            width: 118px;
            height: 180px;
        }

        & .cover--author {
            left: 15px;
            top: 15px;
            width: 118px;
            height: 180px;
            font-size: 0.5rem;
        }
    }

    .title-page, .author-page, #html-temp-container {
        & .cover-canvas {
            @include shadowing;
            position: relative;
            background-color: $real-white;

            & .cover, #html-temp-container {
                width: inherit;
                height: inherit;

                &--title {
                    position: absolute;
                    display: flex;
                    font-family: 'Song Myung';

                    &.pos--CT {
                        justify-content: center;
                    }

                    &.pos--RT {
                        justify-content: flex-end;
                    }

                    &.pos--LC {
                        align-items: center;
                    }

                    &.pos--CC {
                        justify-content: center;
                        align-items: center;
                    }

                    &.pos--RC {
                        justify-content: flex-end;
                        align-items: center
                    }

                    &.pos--LD {
                        align-items: flex-end;
                    }

                    &.pos--CD {
                        justify-content: center;
                        align-items: flex-end;
                        transform: translateY(-6%);
                    }

                    &.pos--RD {
                        justify-content: flex-end;
                        align-items: flex-end;
                    }

                    & .align--left {
                        display: flex;
                        flex-direction: column;
                    }

                    & .align--middle {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    & .align--right {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                    }
                }
            }

            .cover--author {
                position: absolute;
                display: flex;
                font-family: 'Song Myung';
            }

            .author--pos {
                &--LT, &--CT, &--RT, &--LC, &--CC, &--RC {
                    justify-content: center;
                    align-items: flex-end;
                    transform: translateY(-6%);
                }
    
                &--LD, &--CD, &--RD {
                    justify-content: center;
                }
            }
        }

        & .icon-container {
            @include flexible('center');

            & .random-icon {
                @include shadowing;
                cursor: pointer;
            }
        }
    }

    .complete-page {

        &.has-container {
            margin-top: calc((100vh - 350px) / 2);
        }

        & .status, .status-value {
            height: 10px;
            border-radius: 5px;
        }

        & .status {
            @include shadowing;
            @include transitionAll;
            position: relative;
            width: 180px;
            background: $gray;
            margin-top: 2rem;

            &[data-complete="true"]::after {
                content: "✔️";
                display: block;
                position: absolute;
                width: 20px;
                height: 5px;
                top: -5px;
                right: -30px;
            }
        }

        .status-value {
            @include transitionAll;
            position: absolute;
            left: 0;
            top: 0;
            background: rgb(0,212,255);
            background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(4,78,97,1) 83%, rgba(16,87,163,1) 100%);
        }
        
        #html-temp-container {
            position: relative;
            width: 592px;
            height: 840px;

            & .cover--title {
                left: 60px;
                top: 60px;
                width: 472px;
                height: 720px;
                font-size: 3rem;
            }
            
            & .cover--author {
                left: 60px;
                top: 60px;
                width: 472px;
                height: 720px;
                font-size: 1.5rem;
            }
            
            & .content--title {
                display: flex;
                font-size: 30px;
                font-family: $primary-font;
                padding: 80px 80px 66px 80px;
                text-align: right;
                font-family: $primary-font;

                &.none {
                    display: none;
                }

                &.right {
                    justify-content: flex-end;
                }

                &.left {
                    justify-content: flex-start;
                }

            }

            & .content--body {
                margin: 0px 80px 0px 80px;
                height: 540px;
                overflow-y: hidden;
                line-height: 30px;
                text-align: justify;

                &.extend {
                    margin-top: 90px;
                    height: 630px;
                }
            }

            & .wrapper {
                position: relative;
            }

            & .content--number {
                margin: 40px 80px 60px 80px;
                display: flex;

                &.right {
                    justify-content: flex-end;
                }

                &.left {
                    justify-content: flex-start;
                }
            }

            & .book--table {
                margin: 80px 80px 60px 80px;
                font-family: $primary-font;
                height: 700px;
                overflow-y: hidden;

                &--subject {
                    font-size: 30px;
                    margin-bottom: 5rem;
                }

                & .book--table--row {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1.5rem;

                    & .title {
                        margin-right: 1rem;
                    }

                    & hr {
                        border-top: 1px solid $black;
                        width: 120px;
                    }

                    & .page {
                        margin-left: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
